[data-component="like"] {
    display: flex;
    align-items: center;
    height: 100%;

    .holder-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #DDD;
        box-shadow: $box-shadow;
        width: 70%;
        margin: 0 auto;
        height: 65px;
        border-radius: 115px;
        padding: 0 20px;

        .btn {
            width: 100px;

            span {
                display: inline-block;

                &.normal-svg {
                    padding: 40px 35px 30px;
                }

                svg {
                    width: 100%;
                    height: 100%;
                        
                    path {
                        cursor: pointer;

                        &:hover {
                            fill: #ee5b5bc7;
                        }
                    }
                }
            }
        }

        .btn-like {
            background: transparent;
            border: none;
        }
    }
}
